<nb-card>
  <nb-card-header>
    <h5 style="float: left;">Lista de Veículos</h5>
    <button style="float: right;" nbButton (click)="onCreate()">Novo Veículo</button>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-3">
      </div>
      <br><br>
      <table>
        <thead>
          <th>ID</th>
          <th>Modelo</th>
          <th>Marca</th>
          <th>Ano</th>
          <th>Descrição</th>
          <th>Vendido</th>
          <th>Cadastrado</th>
          <th>Atualizado</th>
          <th colspan="2">Ações</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td style="padding-right: 3em;">{{ item.id }}</td>
            <td style="padding-right: 3em;">{{ item.veiculo }}</td>
            <td style="padding-right: 3em;">{{ item.marca }}</td>
            <td style="padding-right: 3em;">{{ item.ano }}</td>
            <td style="padding-right: 3em;">{{ item.descricao }}</td>
            <td style="padding-right: 3em;">{{ (item.vendido) ? 'Sim' : 'Não' }}</td>
            <td style="padding-right: 3em;">{{ item.created }}</td>
            <td style="padding-right: 3em;">{{ item.updated }}</td>
            <td style="padding-right: 3em;">
              <button nbButton status="warning" (click)="onEdit(item.id)" type="button">Editar</button>
              &nbsp;
              <button nbButton status="danger" (click)="onDelete(item.id)" type="button">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
