html {
    height: 100vh;
    background-image: linear-gradient(to bottom right, #32092B, #CB3C61);
    color: #fff;
}

.content {
    margin-top: 30vh;
    text-align: center;
}

a {
    font-family: 'Anton', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: x-large;
    color: #fff;
}

h1 {
    font-family: 'Corben', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
}

@font-face {
    font-family: 'snicklesregular';
    src: url('snickles-webfont.woff2') format('woff2'),
        url('snickles-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}